/*Heading styling*/
header {
  display: flex center;
  min-height: 10vh;
  background: repeating-radial-gradient(rgb(58, 76, 215), rgb(29, 27, 27));
  color: white;
}
/* Search column color */

.search-column {
  background-color: white;
}

/*styling for the list of uv, wind,humidity, uv */
.list-group-item {
  line-height: 0.5;
  border: none;
}

.card-body {
  flex: auto;
}

/* Uv index styling for severe, moderate, favorable*/
span.severe {
  padding: 3px;
  background-color: purple;
  color: white;
}

span.moderate {
  padding: 3px;
  background-color: yellow;
}

span.favorable {
  padding: 3px;
  background-color: green;
  color: white;
}
